*{
    margin:0;
    padding:0;
}



body, html{height:100%;}

body{
    text-align:center;
}



main{
    min-height:100%;
    margin:0 auto;
    position:relative;
}


.footer-custom{
    bottom:0;
    margin-top:50px;
    background-color: rgba(184, 0, 52, 0.7);
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    color:#FFF;
}

.navbar-item-custom,
.navbar-item-custom a{
    color:#fff;
}

.product-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item{
    margin-top: 50px;
}

.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container{
    margin-bottom: 150px;
}

.product-page-price{
    font-size: 19px;
}

.cart-icon{
    height: 20px;
    padding-left: 20px;
}

.register-block{
    padding:10px;
    background-color: #fafafa;
}

.block-small{
    max-width: 600px;
    margin: 0 auto;
}

.form-check{
    background-color: #f4f8ff;
    padding:20px 65px;
    margin-top: 7px;
}

.col-form-label{
    font-weight: bold;
}

.order-summary{
    background-color: #f4f8ff;
    padding:20px;
    margin-top: 22px;
}

.account-item{
    background-color: #f1f2f6;
    padding: 70px;
}

.account-item a{
    text-transform: uppercase;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;
}

.account-item a:hover{
    color: #778ca3;
    text-decoration: none;
}

.product-item a>img{
    max-height:300px
}
